<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <title>Wanderson Careers</title>
   
  </head>
<body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4" >
        {{company_name}} Careers
      </h1>
        <img class="img-fluid" id='banner' src="https://wanderson-carrers-website-1.wandersonsoares.repl.co/static/banner.jpg" alt="banner">
      <h2 class="text-center mt-2 mb-4">About Wanderson</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      <h2 class="text-center mt-2 mb-4">Jobs Openings</h2>
                <div> 
                    {% for job in jobs %}
                      {% include 'jobitem.html'%}
                    {% endfor %}
                  </div>                  
                
      
                  <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg">
                      Contact Us
                    </button>
            
                    <p class="mt-4">Copyright 2023, Wanderson</p>
                  </div>
    </div>  
</body>
</html>